.header__left  , .header__right {
    display: inline-block;
    width: 20%;
    padding: 20px 0;
}

.header__center {
    text-align: left;
    display: inline-block;
    width: 59%;
    padding: 0px 0;
    
}

.header__right {
    text-align: right;
    vertical-align: middle;
}

.address {
    font-style: normal;
}

.contacts__tel {
    font-size: 26px;
    margin-bottom: -5px;
}

.contacts__graph {
    font-size: 13px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
}

.header .menu {
    margin-left: -70px;
}

.logo {
    /*top: 29px;*/
}

.contacts {
    /*right: 0;
    top: 26.64px;
    text-align:right*/
    font-style: normal;
}

.contacts__tel {
    display: block;
}

.menu__item {
    display: inline-block;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}